@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

ul,
li {
  list-style: none;
}

/* ----- Navbar Start ----- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarLeft__logo > img {
  width: 30px;
  margin-right: 15px;
  display: block;
}

.navbarLeft__searchBox {
  background: #f0f2f5;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbarLeft__searchBox img {
  width: 14px;
}

.navbarLeft__searchBox input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0;
}

.navbarCenter ul li {
  display: inline-block;
}

.navbarCenter ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative;
}

.navbarCenter ul li a img {
  width: 30px;
}

.navbarCenter ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #045be6;
  position: absolute;
  bottom: -15px;
}

.navbarCenter ul li a:hover::after,
.navbarCenter ul li a.navbarCenter__activeLink::after {
  width: 100%;
  transition: width 0.3s;
}

.navbarRight__avatar {
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.navbarRight__online {
  position: relative;
}

.navbarRight__online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0;
  top: 0;
  background: #41db51;
  position: absolute;
}
/* ----- Navbar End ----- */

/* ----- Navbar Dropdown Menu Start ----- */
.navbar__profileMenuWrapper {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.navbar__profileMenuWrapper.openMenu {
  max-height: 400px;
}

.navbar__profileMenu {
  background: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.navbar__profileMenuUserInfo {
  display: flex;
  align-items: center;
}

.navbar__profileMenuUserInfo img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.navbar__profileMenuUserInfo h3 {
  font-weight: 500;
  margin-bottom: -7px;
}

.navbar__profileMenuUserInfo a {
  color: #c9dbf8;
  font-size: 13px;
}

.navbar__profileMenu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 15px 0 10px;
}

.navbar__profileMenuLink {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}

.navbar__profileMenuLink p {
  width: 100%;
}

.navbar__profileMenuLink img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
/* ----- Navbar Dropdown Menu End ----- */

/* ----- profilePage Start ----- */
.container {
  padding: 20px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__profileMain {
  flex-basis: 73%;
}
.container__profileSidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.container__profileContainer {
  background: #fff;
}
.container__profileContainerInner {
  padding: 0 4% 10px;
}

.container__profileContainerInnerAvatar {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: #fff;
}

.container__profileContainer h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}

.container__profileContainer b {
  font-weight: 500;
}

.container__profileContainer p {
  margin-top: 5px;
}

.container__profileContainer p a {
  color: #045be6;
  font-weight: 500;
}

.container__profileMutualConnection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.container__profileMutualConnection img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.container__profileBtn {
  margin: 20px 0;
}

.container__profileBtn a {
  display: inline-flex;
  align-items: center;
  background: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}

.container__profileBtn a img {
  width: 18px;
  margin-right: 5px;
}

.container__profileBtn .btn--primary {
  background: #045be6;
  color: #fff;
}

.container__profileDescription {
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}

.container__profileDescription h2 {
  color: #333;
  margin: 10px 0 20px;
  font-weight: 600;
}

.container__profileDescriptionSeeMoreLink {
  display: block;
  text-align: right;
  font-size: 16px;
}

.container__profileDescriptionRow {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.container__profileDescriptionRow img {
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}

.container__profileDescriptionRow div {
  width: 100%;
}

.container__profileDescriptionRow h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.container__profileDescriptionRow b {
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.container__profileDescriptionRow p {
  margin-top: 15px;
}

.container__profileDescriptionRow hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.container__profileExperienceLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}

.container__profileExperienceLink img {
  width: 20px;
  margin-left: 8px;
}

.container__profileSkillsBtn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}

.container__profileLanguageBtn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  background: #e4e6eb;
  font-size: 12px;
  font-weight: 500;
}

/* ----- Profile sidebarRight Start ----- */

.container__profileSidebar .sidebarRight__advertisement {
  margin: 0;
}

.sidebarRight__people {
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}

.sidebarRight__people h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.sidebarRight__peopleRow {
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}

.sidebarRight__peopleRow img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}

.sidebarRight__peopleRow h2 {
  font-weight: 500;
  font-size: 16px;
}

.sidebarRight__peopleRow a {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #5f5f5f;
  border-radius: 30px;
  font-weight: 500;
}
/* ----- Profile sidebarRight End ----- */

/* ----- profileFooter Start ----- */
.profileFooter {
  padding: 0 6% 30px;
}

.profileFooter .sidebarRight__usefulLinks {
  text-align: left;
  padding: 0;
}

.profileFooter .sidebarRight__usefulLinks a {
  margin-left: 0;
}

.profileFooter .sidebarRight__copyrightMessage {
  justify-content: flex-start;
}
/* ----- profileFooter End ----- */
/* ----- profilePage End----- */

/* ----- sidebarLeft ----- */

#showMoreLink {
  display: none;
}

.sidebarLeft {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.sidebarLeft__profileBox {
  background-color: #fff;
}

.sidebarLeft__profileInfo {
  padding: 0 25px;
}

.sidebarLeft__profileInfo > img {
  width: 90px;
  border-radius: 50%;
  background: #fff;
  padding: 4px;
  /* this negative margin top makes the profileInfo img appear in front of the profileBox img */
  margin-top: -45px;
}

.sidebarLeft__profileInfo h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.sidebarLeft__profileInfo h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.sidebarLeft__profileInfo ul {
  margin: 20px 0;
}

.sidebarLeft__profileInfo ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}

.sidebarLeft__profileInfo ul li span {
  float: right;
  color: #045be6;
}

.sidebarLeft__profileLink {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

.sidebarLeft__profileLink a {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}

.sidebarLeft__profileLink a:first-child {
  border-left: 0;
}

.sidebarLeft__profileLink a img {
  width: 20px;
  margin-right: 10px;
}

.sidebarLeft__activity {
  background: #fff;
  padding: 5px 25px;
  margin: 12px 0;
}

.sidebarLeft__activity h3 {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebarLeft__activity a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}

.sidebarLeft__activity a img {
  width: 20px;
  margin-right: 10px;
}

.sidebarLeft__discoverMoreLink {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  margin-left: -25px;
  margin-right: -25px;
}

.sidebarLeft__discoverMoreLink a {
  color: #045be6;
  display: inline-block;
  margin: 10px 0;
}

/* ----- mainContent ----- */
.mainContent {
  flex-basis: 47%;
}

.mainContent__createPost {
  background-color: #fff;
}

.mainContent__createPostInput {
  padding: 20px 25px 10px;
  display: flex;
  align-items: center;
}

.mainContent__createPostInput img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.mainContent__createPostInput textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  margin-top: 8px;
}
::placeholder {
  font-weight: 500;
}

.mainContent__createPostLinks {
  display: flex;
  align-items: flex-start;
}

.mainContent__createPostLinks li {
  border: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mainContent__createPostLinks li img {
  width: 15px;
  margin-right: 5px;
}

.mainContent__createPostLinks li:last-child {
  background: #045be6;
  color: #fff;
  border-top: 0;
  border-right: 0;
}

.mainContent__sortBy {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.mainContent__sortBy hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.mainContent__sortBy p {
  font-size: 13px;
  padding-left: 5px;
}

.mainContent__sortBy p span {
  font-weight: 600;
  cursor: pointer;
}

.mainContent__sortBy p span img {
  width: 12px;
  margin-left: 3px;
}

.mainContent__post {
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}

.mainContent__postAuthor {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.mainContent__postAuthor img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.mainContent__postAuthor h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.mainContent__postAuthor small {
  display: block;
  margin-bottom: -2px;
}

.mainContent__post > p {
  font-size: 14px;
  margin-bottom: 15px;
}

.mainContent__postStats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.mainContent__postStats div {
  display: flex;
  align-items: center;
}

.mainContent__postStats img {
  width: 15px;
  margin-right: -5px;
}

.mainContent__postStatsLikedUsers {
  margin-left: 10px;
}

.mainContent__postActivity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.mainContent__postActivity div {
  display: flex;
  align-items: center;
}

.mainContent__postActivityUserIcon {
  width: 22px;
  border-radius: 50%;
}

.mainContent__postActivityArrowIcon {
  width: 12px;
  margin-left: 5px;
}

.mainContent__postActivityLink img {
  width: 18px;
  margin-right: 8px;
}

/* ----- sidebarRight ----- */
.sidebarRight {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.sidebarRight__news {
  background-color: #fff;
  padding: 10px 25px;
}

.news__InfoIcon {
  width: 15px;
  float: right;
  margin-top: 15px;
}

.sidebarRight__news h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}

.sidebarRight__news a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
}

.sidebarRight__news span {
  font-size: 12px;
}

.sidebarRight__readMoreLink {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebarRight__advertisement {
  background-color: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}

.sidebarRight__advertisement img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}

.sidebarRight__advertisement small {
  float: right;
  font-weight: 500;
}

.sidebarRight__advertisement p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.sidebarRight__advertisement b {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

.sidebarRight__advertisementLink {
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px;
}

.sidebarRight__usefulLinks {
  padding: 15px 25px;
  text-align: center;
}

.sidebarRight__usefulLinks a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 20px;
}

.sidebarRight__copyrightMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}

.sidebarRight__copyrightMessage img {
  width: 18px;
  margin-right: 4px;
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 800px) {
  .navbarLeft__searchBox {
    background: transparent;
    width: auto;
    padding: 0;
  }
  .navbarLeft__searchBox input {
    width: 0;
  }
  .navbarCenter ul li a span {
    display: none;
  }
  .navbarCenter ul li a {
    padding-right: 0;
    margin: 5px;
  }
  .navbarRight__avatar {
    width: 30px;
  }
  .container {
    padding: 15px 3%;
  }
  .sidebarLeft,
  .sidebarRight {
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .mainContent {
    flex-basis: 100%;
  }
  .mainContent__postStats div {
    margin: 2px 0;
  }
  .mainContent__postActivityLink span {
    display: none;
  }
  .mainContent__postActivityLink img {
    margin-right: 0;
  }
  .container__profileMain,
  .container__profileSidebar {
    flex-basis: 100%;
  }
  .container__profileContainer {
    font-size: 14px;
  }
  .container__profileContainerInnerAvatar {
    width: 100px;
    margin-top: -50px;
  }
  .container__profileDescription {
    font-size: 14px;
  }
  #showMoreLink {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebarLeft__activity {
    display: none;
  }
  .sidebarLeft__activity.openActivity {
    display: block;
  }
}
