@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms ease;
}

html {
    scroll-behavior: smooth;
}

.container {
    height: 100vh;
    width: 100%;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
    height: 0px;
    width: 0px;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 200px solid black;
    margin: 8px;
}

.triangle--indigo {
    height: 0px;
    width: 0px;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 200px solid indigo;
    margin: 8px;
}

triangle--orange {
    height: 0;
    width: 0;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 200px solid orange;
}