@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
}

.navbar > div {
  padding: 24px;
}

.navlist {
  display: flex;
}

.navlink {
  margin-left: 10px;
}

.topContainer {
  display: flex;
  background-color: yellowgreen;
  padding: 16px;
}

.topContainer > img {
  object-fit: contain;
}

.topContainer > p {
  margin-left: 16px;
}

.middleContainer {
  display: flex;
  background-color: #f2f2f2;
  padding: 16px;
}

.middleContainer > img {
  object-fit: contain;
}

.middleContainer > p {
  margin-right: 16px;
}

footer {
  background-color: green;
}